*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* #region Utility */
:root{
   --sfondo-color: rgb(246, 248, 249);
   --add_section-color: rgb(196, 203, 208);
   --nero_testi-color: rgb(67, 72, 81);
   --add_task-color: rgb(20, 170, 245);
   --button_blu-color: rgb(9, 169, 237);
   --lila-color: rgb(171, 93, 230);
   --verde-color: rgb(44, 198, 171);
   --naranja-color: rgb(255, 155, 0);
   --Magenta-color: rgb(236, 74, 157);
   --verde_sales-color: rgb(163, 209, 22);
   --check-color: rgb(45, 198, 171);
   --rosso-color:rgb(255, 16, 16);
}

/* #endregion Utility */

body{
    background-color:var(--sfondo-color)
}

.inline{
    display: inline-block;
}

/* #region header */

.logo_container{
    background-color: white;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    width:auto;
    height: 130px;
}

.logo_img{
    width: 70px;
    height: 70px;
    vertical-align: middle;
}

.testo_logo{
    font-family: Arial;
    font-size: 60px;
    font-weight:700; 
    display: inline-block;
    vertical-align: middle;
}

/* #endregion header */

/* #region main */

main{
    width: 70%;
    margin: 3rem auto;
}
/* #endregion main */

/* #region section nav */
.nav{
    background-color: white;
    height: 70px;
    padding-left: 60px;
    padding-top: 20px;
    margin-bottom: 5px;
}

.add_task{
    height: 30px;
    width: 75px;
    border-radius: 5px;
    background-color: var(--add_task-color);
    border: 0;
    color: white;
    font-weight: bold;
}

.add_section{
    font-weight: bold;
    height: 30px;
    width: 100px;
    text-align: center;
    border-radius: 5px;
    border-color: var(--add_section-color);
}
/* #endregion section nav */


/* #region section list */
.lista_generale{
    font-family: arial;
    background-color: white;
    color: var(--nero_testi-color);
    padding-left: 60px;
}

.subtitles{
    font-weight: bold;
    padding-top: 2rem;
    padding-bottom: 1rem;
}

.check{
    width: 15px;
    height: 15px;
    color: var(--check-color);
    border-style: solid;
    border-radius: 50%;
    padding-bottom: 2px;
    padding-left: 3px;
    border-width: 1px;
    font-size: x-small;
    font-weight: bold;
}

.rosso{
    color: var(--rosso-color);
}

.font14 {
    font-size: 14px;
    padding-bottom: 1rem;
}

.button_list{
    height: 20px;
    width: 60px;
    border-radius: 10px;
    background-color:var(--button_blu-color);
    border: 0;
    color: white;
    font-size: x-small;
}

.lila{
    background-color: var(--lila-color);
}

.verde{
    background-color: var(--verde-color);
}

.naranja{
    background-color: var(--naranja-color);
}

.magenta{
    background-color: var(--Magenta-color);
}

.verde_sales{
    background-color: var(--verde_sales-color);
}
/* #endregion section list */










